<h2>Restaurants</h2>
<ul>
<% @restaurants.each do |restaurant|  %>
<li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
<% end %>
</ul>

 <%= link_to new_restaurant_path do%>
<p>Add restaurant to the list</p>
<% end %>
